/* Header */
.yusuf-header{
	display: flex;
	justify-content: center;
	width: 100%;
	border: 1px solid #DCDCDC;
	margin: 0px;
	padding: 5px;
	padding-right: 150px;
	font-size: 24px;
	text-align: center;
	background: white;
	color: #013220;
}
.yusuf-header img{
	float: left;
	height: 100px;
	width: 200px;
	margin: 10px;
	margin-left: 150px;
	margin-top: 15px;
}
.yusuf-bg-dark{
	 background-color: #000d1a !important;
}

/* Media Social */
.yusuf-info{
	margin-top: 50px;
}


footer{
      width:100%;
      margin-top:10px;
      background: #000d1a;
      color: white;
      text-align: center;
      padding: 10px;
    }
    img{
      text-align: center;
      width: 30px;
      height: 30px;
      margin: 10px;
		}

